#main {
  width: 100%;
  height: 100%;
  /* background-color: blue !important; */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #008080;
}

.window-body text {
  font-size: 12pt;
}

.dx-line-0 line,
.dx-line-0 path {
  stroke: #960909; /* Tomato */
}

.dx-line-1 line,
.dx-line-1 path {
  stroke: #4682b4; /* Steel Blue */
}

.dx-line-2 line,
.dx-line-2 path {
  stroke: #32cd32; /* Lime Green */
}

.dx-line-3 line,
.dx-line-3 path {
  stroke: #ffd700; /* Gold */
}

.dx-line-4 line,
.dx-line-4 path {
  stroke: #8a2be2; /* Blue Violet */
}

.dx-line-5 line,
.dx-line-5 path {
  stroke: #ff4500; /* Orange Red */
}

.dx-line-6 line,
.dx-line-6 path {
  stroke: #00ced1; /* Dark Turquoise */
}

.dx-line-7 line,
.dx-line-7 path {
  stroke: #4b0c53; /* Chocolate */
}

.dx-line-8 line,
.dx-line-8 path {
  stroke: #00ff7f; /* Spring Green */
}

.dx-line-9 line,
.dx-line-9 path {
  stroke: #24056d; /* Royalish */
}

.selected-0 {
  background-color: #960909; /* Tomato */
  color: white;
}

.selected-1 {
  background-color: #4682b4; /* Steel Blue */
  color: white;
}

.selected-2 {
  background-color: #32cd32; /* Lime Green */
  color: darkslategrey;
}

.selected-3 {
  background-color: #ffd700; /* Gold */
  color: darkslategrey;
}

.selected-4 {
  background-color: #8a2be2; /* Blue Violet */
  color: white;
}

.selected-5 {
  background-color: #ff4500; /* Orange Red */
  color: black;
}

.selected-6 {
  background-color: #00ced1; /* Dark Turquoise */
  color: darkslategrey;
}

.selected-7 {
  background-color: #4b0c53; /* Chocolate */
  color: white;
}

.selected-8 {
  background-color: #00ff7f; /* Spring Green */
  color: darkslategrey;
}

.selected-9 {
  background-color: #24056d; /* Royalish */
  color: white;
}

.selected-name-0 {
  color: #960909; /* Tomato */
}

.selected-name-1 {
  color: #4682b4; /* Steel Blue */
}

.selected-name-2 {
  color: #32cd32; /* Lime Green */
}

.selected-name-3 {
  color: #ffd700; /* Gold */
}

.selected-name-4 {
  color: #8a2be2; /* Blue Violet */
}

.selected-name-5 {
  color: #ff4500; /* Orange Red */
}

.selected-name-6 {
  color: #00ced1; /* Dark Turquoise */
}

.selected-name-7 {
  color: #4b0c53; /* Chocolate */
}

.selected-name-8 {
  color: #00ff7f; /* Spring Green */
}

.selected-name-9 {
  color: #24056d; /* Royalish */
}

.selected-name {
  font-weight: bold;
}

h4 {
  font-size: 1rem;
}

.progress-bar {
  width: 100%;
  height: 20px; /* Adjust the height as needed */
  background-color: #c0c0c0; /* Gray background, like Windows 98 */
  display: flex;
  align-items: center;
  position: relative;
}

.progress {
  height: 100%;
  display: flex;
  background-image: linear-gradient(
    to right,
    #0000ff 0%,
    #0000ff 80%,
    transparent 80%,
    transparent 100%
  );
  background-size: 12px 100%;
  transition: width 0.2s ease;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
  color: white;
}

.status-bar-spacer {
  width: 50%;
}

@media (max-width: 385px) {
  .status-bar-spacer {
    width: 33%;
  }
}

input[type="radio"] {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  max-height: 100vh;
  overflow-y: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.file-animation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
  width: 80%;
}

.folder {
  width: 35px;
  height: 35px;
  background-image: url("/directory_closed_cool-3.png");
  position: relative;
  border-radius: 3px;
}

@keyframes movePaper {
  0% {
    left: 30px;
    transform: rotateZ(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    left: 86%;
    transform: rotateZ(180deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 86%;
    transform: rotateZ(180deg);
    opacity: 0;
  }
}

.paper {
  width: 30px;
  height: auto;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 30px;
  animation: movePaper 3s infinite;
  transform-origin: center;
  z-index: 1;
}

.sell-btn {
  min-width: fit-content;
  min-height: fit-content;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.rig-tab:hover {
  cursor: pointer;
}

.rig-tab.upgradeable {
  color: green;
}

.color-button {
  height: 20px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: auto;
  min-height: auto;
}

.color-button:hover {
  cursor: pointer;
}

.market-buttons {
  display: flex;
  flex-direction: row;
}

.sell-btn.market {
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 640px) {
  .market-buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .pauseModal {
    width: 95%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  /* display: none; */
  position: absolute;
  min-width: 160px;

  z-index: 1;
}

.dropdown-item {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #0000ff;
  color: white;
  cursor: pointer;
}

.dropdown-item.disabled {
  color: grey;
  text-decoration: line-through;
}

.menu-dropdown:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
